<div class="header-top-menu">
  <div class="container-header wow fadeInUp checkMenu animated" style="visibility: visible; animation-name: all;">
    <div class="logo-company">
      <a href="/">
        <span class="header-text-logo">Fiver.tech</span>
      </a>
    </div>
    <nav id="primary-menu">
      <a id="inicio" routerLink="/inicio" class="menu-main" data-letters="Inicio">
        <span>Inicio</span>
      </a>
      <a id="portafolio" href="/portafolio" class="menu-main" data-letters="Portafolio">
        <span>Portafolio</span>
      </a>
      <a id="contacto" routerLink="/contacto" class="menu-main" data-letters="Contacto">
        <span>Contacto</span>
      </a>
    </nav>
    <!-- <div class="secondary-nav">
      <nav>
        <a id="login" href="#" class="menu-secondary">Login</a>
        <a id="register" href="/sign-up" class="menu-secondary">Register</a>
      </nav>
    </div> -->
    <div>
      <button type="button" class="icon-custom-menu animated fadeInLeft is-closed" data-toggle="offcanvas">
        <span class="icon-top"></span>
        <span class="icon-middle"></span>
        <span class="icon-bottom"></span>
      </button>
    </div>
  </div>
</div>
