<header>
  <div id="meteor_particles">
    <div id="banner-home">
      <div class="content-banner">
        <h3 class="wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Fiver.tech</h3>
        <span class="wow zoomIn" style="visibility: visible; animation-name: zoomIn;">Especialistas en diseño web,
          <br>servidores y mucho más.</span>
        <div class="action-banner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <a id="installnow" href="/contacto" class="btn-custom hvr-rectangle-out-bg">Contactenos</a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="content-page">
  <div class="container-home">
    <div id="whymeteor">
      <div class="titleAll">
        <h3>Servicios</h3>
      </div>
      <div class="container-940">
        <div id="allItems-object">
          <div id="items-left" class="items-object">
            <span class="icon">
              <i class="web-design-icon"></i>
            </span>
            <h3>Diseño web personalizado</h3>
            <span>Realiza con nosotros el diseño de tu sitio web. Utilizamos las ultimas tecnologias para garantizar un funcionamiento
              eficaz en todos los dispositivos. Nos adaptamos a tus necesidades.</span>
          </div>
          <div id="items-center" class="items-object">
            <span class="icon">
              <i class="web-code-icon"></i>
            </span>
            <h3>Modificación y soporte de sitios web</h3>
            <span>Realizamos modificaciones a sitios web, y programamos scripts personalizados, nos ajustamos a todas tus necesidades</span>
          </div>
          <div id="items-right" class="items-object">
            <span class="icon">
              <i class="server-icon"></i>
            </span>
            <h3>Configuración y optimización de servidores</h3>
            <span>Ofrecemos servicios de instalación y configuración de servidores web, asi como tambien mantenimiento de los mismos
              para garantizar el máximo desempeño de tu aplicación</span>
          </div>
        </div>
      </div>
    </div>
    <div class="lines-page"></div>
    <div class="opensource using-opensource wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
      <div class="titleAll">
        <h3>Tecnologias y sistemas con los que trabajamos</h3>
        <div class="top-companies">
          <ul>
            <li class="mazda">
              php
            </li>
            <li class="ikea">
              mysql
            </li>
            <li class="honeywell">
              html
            </li>
            <li class="qualco">
              css
            </li>
            <li class="tour">
              centos
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
